$bgColor: #FFF;
$highlightColor: #ED7D31;

body {
    background-color: $bgColor;
    font-family: sans-serif;

    .container {
        margin-top: 15px;
    }
}

.iceAndFireBody {
    border: 1px solid #898989;
    padding-left: 10px;
    padding-right: 10px;
}

.spacerTop {
    margin-top: 20px;
}

ul.navMenu {
    margin-top: 25px;

    li {
        
        a {
            color: #898989;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px;
            color: $highlightColor;
            border: 1px solid #898989;
            border-bottom: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .active {
            border-top: 3px solid $highlightColor;
            color: #898989;
            background-color: #F0F0F0;
        }
    }
}
